<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Messages</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Content</th>
        <th>Date</th>
        <th>Sent By</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td>[[${message.content}]]</td>
        <td>[[${message.date}]]</td>
        <td>[[${message.sentby}]]</td>

        <td>
            <!--<div th:each="message : ${messages}">-->
             <div th:if="${message.imageurl} != null">
                <img th:src="${message.imageurl}" />
        </div>
        </td>
    </tr>
    </tbody>
</table>
    <!--<body>-->
    <!--&lt;!&ndash;<a href="/add">Add an image</a>&ndash;&gt;-->
        <!--<body th:each="message : ${messages}">-->
            <!--<div th:if="${message.imageurl} != null">-->
                <!--<img th:src="${message.imageurl}" /><hr />-->
            <!--</div>-->
        <!--</body>-->
    <!--<body>-->
<a href="/add">Add a Message</a><br />
    </body>

</html>